language: php
php:
  - hhvm
  - 7.4
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4
before_script: composer -n --prefer-source install --dev
script: vendor/bin/phpunit
after_script: php vendor/bin/coveralls
