<phpunit
  bootstrap="vendor/autoload.php"
  forceCoversAnnotation="true"
  failOnRisky="true">

  <testsuite name="Bloom Filter Tests">
    <directory>tests/</directory>
  </testsuite>

  <coverage includeUncoveredFiles="true" processUncoveredFiles="true" pathCoverage="true">
    <include>
      <directory>src/</directory>
    </include>
    <report>
      <clover outputFile="build/coverage.xml" />
      <text outputFile="build/testdox.txt" />
      <html outputDirectory="build/html" />
    </report>
  </coverage>

  <php>
    <ini name="memory_limit" value="-1" />
  </php>
</phpunit>
